<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body >
    <div class="header">
        <div class="container container-large">
            <a class="logo" href="/">


                <h1 class="name">DENİZ TANRIVERDİ</h1>
                <h2 class="title">BİLGİSAYAR MÜHENDİSİ</h2>
            </a>
            <div class="social">
                <ul>
                    <li>
                        <a href="https://www.instagram.com/ahmethasimbaltaci/" target="_blank">
                            <span class="icon">
                                <img src="images/icon-ins.png" alt="ins">
                                <img src="images/icon-ins-hover.png" alt="ins" class="hover">
                            </span>
                            <span class="text">INSTAGRAM</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/A_HasimBaltaci" target="_blank">
                            <span class="icon">
                                <img src="~/images/icon-tw.png" alt="tw">
                                <img src="~/images/icon-tw-hover.png" alt="tw" class="hover">
                            </span>
                            <span class="text">TWITTER</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/ahmethasimibaltaci" target="_blank">
                            <span class="icon">
                                <img src="~/images/icon-fb.png" alt="fb">
                                <img src="~/images/icon-fb-hover.png" alt="fb" class="hover">
                            </span>
                            <span class="text">FACEBOOK</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="icon">
                                <img src="~/images/icon-home.png" alt="home">
                                <img src="~/images/icon-home-hover.png" alt="home" class="hover">
                            </span>
                            <span class="text">ANASAYFA</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav">

                <ul>

                    <li>
                        <a href="http://ahmethasimbaltaci.com/kategori/2/0/biyografi.aspx" target="_self">
                            BİYOGRAFİ
                        </a>
                    </li>

                    <li>
                        <a href="http://ahmethasimbaltaci.com/kategori/9/0/projeler.aspx" target="_blank">
                            PROJELER
                        </a>
                    </li>

                    

                    <li>
                        <a href="http://ahmethasimbaltaci.com/kategori/11/0/fotograflar.aspx" target="_self">
                            FOTOĞRAFLAR
                        </a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/channel/UCEZSjE5AIrk1xyMiHVcytsg" target="_blank">
                            VİDEOLAR
                        </a>
                    </li>

                    <li>
                        <a href="http://ahmethasimbaltaci.com/form/7/7/iletisim.aspx" target="_self">
                            İLETİŞİM
                        </a>
                    </li>

                </ul>

            </div>


        </div>



    </div>
    @RenderBody()

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>